<div class="container-xxl px-0" >
    <nav class="navbar navbar-expand-xxl bg-dark " data-bs-theme="dark"> 
      <div class="container-fluid mx-2">
          <a class="navbar-brand text-body-tertiary h4" aria-current="page">Start Bootstrap</a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <div  class="navbar-nav">
                  <a class="nav-link text-body-tertiary mx-2"  href="/website/templates/tagline.html">About</a>
                  <a class="nav-link text-body-tertiary mx-2" href="/website/templates/first_heading.html
                  ">Services</a>
                  <a class="nav-link text-body-tertiary mx-2" href="/website/templates/portfolio.html">Portfolio</a>
                  <a class="nav-link text-body-tertiary mx-2" href="/website/templates/contact.html">Contact</a>
              </div>
           </div>
       </div>
     </nav>
 </div>
                 
          
    

